<h1>Why do this?</h1>
<p>At the end of each week, I answer three questions in my notebook: what worked? what didn't? what next?  This isn't a magic bullet. It doesn't transform my teaching. But it does give me perspective on how I did that week, what my studnets leanred, and how I can do better next week.<br>I believe that by practicing consistent reflection, teachers can improve at their craft and improve studenet learning.<br>It's that simple.</p>
