<div class = "jumbotron jumbotron-center">
<h1>Reflective Teacher</h1>
<p>Improve your teaching by answering:
	<ul>
		<li>What worked?
		<li>What didn't?
		<li>What next?
	</ul>
	<%= link_to "Start reflecting", "#", class: "btn btn-primary btn-lg" %>
	
</div>
