

<div id="header"><br><br><br>
	
	<div id="title"></h1>Reflective Teachers</h1></div>
		<div id="slogan-home"><p></p><br><br><br><br><br>
		<%= link_to "View Our Courses", courses_path, :class => "btn-lg btn-primary" %></div>
</div>

<div id="about-section">
	<div class="title">About us</div>
	<%= image_tag("typing-background.jpg", :alt => "#", class:"img-circle pull-right", width:"30%") %>
	<%= image_tag("typing-background.jpg", :alt => "#", class:"img-circle pull-left", width:"30%") %>
	<%= image_tag("typing-background.jpg", :alt => "#", class:"img-circle center-block", width:"30%") %><br>
	<ul class="list-inline">
  <li class="col-md-4">    Gerard Dawson</li>
  <li class="col-md-4">    Carolyn Ross</li>
  <li class="col-md-4">    Kathryn Cubano</li>
</ul>

</div>




