<div class = "jumbotron jumbotron-center">
<h1>Reflective Teacher</h1>
<p>Improve your teaching by answering:
	<ul>
		<li>What worked?
		<li>What didn't?
		<li>What next?
	</ul>
	<% if user_signed_in? %>
		<%= link_to "Start reflecting", "#", class: "btn btn-primary btn-lg" %>
	<% else %>
		<%= link_to "Start reflecting", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>	
</div>